.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 1rem;
}
.Links{
    display: flex;
    margin: 2rem 0;
    text-align: right;
    margin-left: 1rem;
}
.Links p{
    margin-left: 2rem;
}