.containerDashboard > h1 {
    font-size: 3rem;
    margin: 1rem 0 1rem 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}


.Dashboard-Geral{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  align-items: center;
}
.Dashboard{
    background-color: rgba(19, 18, 18,0.5);
    border-radius: 1.2rem;
    height: 10rem;
    width: 20rem;
    max-width: 25rem;
    margin: 2rem;
    padding: 2rem;
    cursor: pointer;
}
.Dashboard:hover{
    background-color: rgba(19, 18, 18,0.3);
}

.Dashboard p{
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    
}
.Dashboard h2{
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-transform: capitalize;
}