.container{
    display: flex;
    margin: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.item{
    flex: 1;
    max-width: 45%;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}
.topo{
    display: flex;
    justify-content: space-between;
    border-radius: 0.9rem;
    font-size: 1.4rem;
    align-items: center;  
   
    background-color: rgba(19, 18, 18,0.9);
    padding: 2rem;
    margin-bottom: 1.5rem;
}
.Lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.4rem;
}